{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="max-w-xl border-2 mx-auto py-8 bg-black-300 text-center">
    <h1 class="text-3xl text-black">Log in</h1>

    <form class="form-container" method="post" action=".">

       {% csrf_token %}


        <div>
            <label class="text-black">E-mail</label><br>
            <input name="email" type="email" class="form-input"><br>
        </div>

        <div>
            <label class="text-black">Password</label><br>
            <input name="password" type="Password" class="form-input"><br>
        </div>


        <div>
            <button class="btn-login">Log in</button>
        </div>

    </form>

  </div>
{% endblock %}