{% extends 'core/base.html' %}


{% block content %}
<div class="max-w-xl border-2 mx-auto py-8 bg-white-800 text-center">
    <h1 class="text-3xl text-black">Sign up</h1>

    <form class="mt-6 px-8 space-y-4" method="post" action=".">

       {% csrf_token %}

        <div>
            <label class="text-black">Name</label><br>
            <input name="name" type="text" class="form-input"><br>
        </div>

        <div>
            <label class="text-black">Email</label><br>
            <input name="email" type="email" class="form-input"><br>
        </div>



        <div>
            <label class="text-black">Password</label><br>
            <input name="password1" type="Password" class="form-input"><br>
        </div>

        <div>
            <label class="text-black">Repeat password</label><br>
            <input name="password2" type="Password" class="form-input"><br>
        </div>

        <div>
            <button class="btn-submit">Sign up</button>
        </div>

    </form>

  </div>
{% endblock %}