# Ignore Python virtual environment
env/
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Django migrations
*/migrations/*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other non-project files
*.log
*.tmp
