{% extends 'core/base.html'%}

{% block content %}
<h1 class="mb-6 text-3xl">Edit project</h1>
<form class="mt-6 space-y-4" method="post" action=".">
    {% csrf_token %}
    <div>
        <label class="text-black">Name</label>
        <br>
        <input name="name" value="{{ project.name }}" type="text" class="form-input">
        <br>
    </div>

    <div>
        <label class="text-black">Description</label>
        <br>
        <textarea name="description" class="form-textarea" rows="10">{{ project.description}}</textarea>
    </div>

    <div>
        <a href="{% url 'project:project' project.id %}" class="btn-cancel">
            Cancel
          </a>
        <button class="btn-submit">Submit</button>
    </div>
</form>
{% endblock %}
